body {
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#root {
    padding-top: 2rem;
    height: 100%;
}


@media screen and (max-width:768px) {
    body {
        overflow: scroll;
    }
}