body {
    height: 100vh;
    overflow: hidden;
    filter: invert(1);
}

#root {
    padding-top: 2rem;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width:768px) {
    body {
        overflow: scroll;
    }
}